USE [master]
GO
/****** Object:  Database [WenSoftAdminDB]    Script Date: 15/10/2025 19:53:02 ******/
CREATE DATABASE [WenSoftAdminDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WenSoftAdminDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\WenSoftAdminDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'WenSoftAdminDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\WenSoftAdminDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WenSoftAdminDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WenSoftAdminDB]
GO
/****** Object:  Table [dbo].[Categorias]    Script Date: 15/10/2025 19:53:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categorias](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[IdEmpresa] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetalleMovimiento]    Script Date: 15/10/2025 19:53:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleMovimiento](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdMovimiento] [int] NOT NULL,
	[IdProducto] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[PrecioUnitario] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empresas]    Script Date: 15/10/2025 19:53:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empresas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HistoricoProducto]    Script Date: 15/10/2025 19:53:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistoricoProducto](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdProducto] [int] NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[TipoMovimiento] [char](2) NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[Descripcion] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Movimientos]    Script Date: 15/10/2025 19:53:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movimientos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[Tipo] [nvarchar](10) NOT NULL,
	[IdEmpresa] [int] NOT NULL,
	[Total] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Productos]    Script Date: 15/10/2025 19:53:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[PrecioVenta] [decimal](10, 2) NOT NULL,
	[Stock] [int] NOT NULL,
	[Activo] [bit] NOT NULL,
	[PrecioBase] [decimal](18, 2) NOT NULL,
	[IdCategoria] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 15/10/2025 19:53:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [int] NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsuarioEmpresa]    Script Date: 15/10/2025 19:53:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsuarioEmpresa](
	[IdUsuario] [int] NOT NULL,
	[IdEmpresa] [int] NOT NULL,
 CONSTRAINT [PK_UsuarioEmpresa] PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC,
	[IdEmpresa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 15/10/2025 19:53:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Usuario] [nvarchar](50) NOT NULL,
	[Clave] [nvarchar](100) NOT NULL,
	[IdEmpresa] [int] NOT NULL,
	[IdRol] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categorias] ON 

INSERT [dbo].[Categorias] ([Id], [Nombre], [IdEmpresa]) VALUES (1, N'Bebidas General', 1)
INSERT [dbo].[Categorias] ([Id], [Nombre], [IdEmpresa]) VALUES (2, N'Snacks prueba', 1)
INSERT [dbo].[Categorias] ([Id], [Nombre], [IdEmpresa]) VALUES (3, N'Lácteos', 1)
SET IDENTITY_INSERT [dbo].[Categorias] OFF
GO
SET IDENTITY_INSERT [dbo].[DetalleMovimiento] ON 

INSERT [dbo].[DetalleMovimiento] ([Id], [IdMovimiento], [IdProducto], [Cantidad], [PrecioUnitario]) VALUES (19, 8, 12, 3, CAST(360.00 AS Decimal(10, 2)))
INSERT [dbo].[DetalleMovimiento] ([Id], [IdMovimiento], [IdProducto], [Cantidad], [PrecioUnitario]) VALUES (20, 9, 11, 2, CAST(605.00 AS Decimal(10, 2)))
INSERT [dbo].[DetalleMovimiento] ([Id], [IdMovimiento], [IdProducto], [Cantidad], [PrecioUnitario]) VALUES (29, 12, 30, 10, CAST(200.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[DetalleMovimiento] OFF
GO
SET IDENTITY_INSERT [dbo].[Empresas] ON 

INSERT [dbo].[Empresas] ([Id], [Nombre]) VALUES (1, N'Empresa Desarrollo Test')
INSERT [dbo].[Empresas] ([Id], [Nombre]) VALUES (2, N'Azul SRL')
INSERT [dbo].[Empresas] ([Id], [Nombre]) VALUES (5, N'Cormetal SA')
SET IDENTITY_INSERT [dbo].[Empresas] OFF
GO
SET IDENTITY_INSERT [dbo].[HistoricoProducto] ON 

INSERT [dbo].[HistoricoProducto] ([Id], [IdProducto], [Fecha], [TipoMovimiento], [IdUsuario], [Descripcion]) VALUES (1, 11, CAST(N'2025-07-09T20:16:08.533' AS DateTime), N'AP', 4, N'Actualización de precio: 550,00 € / Activo: Sí')
INSERT [dbo].[HistoricoProducto] ([Id], [IdProducto], [Fecha], [TipoMovimiento], [IdUsuario], [Descripcion]) VALUES (2, 12, CAST(N'2025-07-09T20:16:08.643' AS DateTime), N'AP', 4, N'Actualización de precio: 300,00 € / Activo: Sí')
INSERT [dbo].[HistoricoProducto] ([Id], [IdProducto], [Fecha], [TipoMovimiento], [IdUsuario], [Descripcion]) VALUES (3, 13, CAST(N'2025-07-09T20:16:08.653' AS DateTime), N'AP', 4, N'Actualización de precio: 480,00 € / Activo: Sí')
GO
SET IDENTITY_INSERT [dbo].[HistoricoProducto] OFF
GO
SET IDENTITY_INSERT [dbo].[Movimientos] ON 

INSERT [dbo].[Movimientos] ([Id], [Fecha], [Tipo], [IdEmpresa], [Total]) VALUES (6, CAST(N'2025-07-09T19:27:42.160' AS DateTime), N'Compra', 1, CAST(4500.00 AS Decimal(10, 2)))
INSERT [dbo].[Movimientos] ([Id], [Fecha], [Tipo], [IdEmpresa], [Total]) VALUES (7, CAST(N'2025-07-09T19:27:42.263' AS DateTime), N'Venta', 1, CAST(3000.00 AS Decimal(10, 2)))
INSERT [dbo].[Movimientos] ([Id], [Fecha], [Tipo], [IdEmpresa], [Total]) VALUES (8, CAST(N'2025-07-09T20:16:42.850' AS DateTime), N'Venta', 1, CAST(1080.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Movimientos] OFF
GO
SET IDENTITY_INSERT [dbo].[Productos] ON 

INSERT [dbo].[Productos] ([Id], [Nombre], [PrecioVenta], [Stock], [Activo], [PrecioBase], [IdCategoria]) VALUES (11, N'Coca Cola 2L retornable', CAST(605.00 AS Decimal(10, 2)), 52, 0, CAST(550.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[Productos] ([Id], [Nombre], [PrecioVenta], [Stock], [Activo], [PrecioBase], [IdCategoria]) VALUES (12, N'Agua Mineral 1.5L Pr', CAST(360.00 AS Decimal(10, 2)), 30, 1, CAST(300.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[Productos] ([Id], [Nombre], [PrecioVenta], [Stock], [Activo], [PrecioBase], [IdCategoria]) VALUES (13, N'Fanta 2L', CAST(528.00 AS Decimal(10, 2)), 30, 1, CAST(480.00 AS Decimal(18, 2)), 1)
SET IDENTITY_INSERT [dbo].[Productos] OFF
GO
INSERT [dbo].[Roles] ([Id], [Nombre]) VALUES (1, N'Operador')
INSERT [dbo].[Roles] ([Id], [Nombre]) VALUES (2, N'Admin')
INSERT [dbo].[Roles] ([Id], [Nombre]) VALUES (3, N'SuperAdmin')
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([Id], [Usuario], [Clave], [IdEmpresa], [IdRol]) VALUES (1, N'braian', N'301ef7c13ff273fca2f70d5cc91270b82771bb3e4dd517f44ac5a4fa8593d1c9', 5, 2)
INSERT [dbo].[Usuarios] ([Id], [Usuario], [Clave], [IdEmpresa], [IdRol]) VALUES (2, N'bwenger', N'e44665aa1ace883da4da8bbb5cb156641b362624678e094d3ac5a2b496f169b5', 1, 3)
INSERT [dbo].[Usuarios] ([Id], [Usuario], [Clave], [IdEmpresa], [IdRol]) VALUES (3, N'bw', N'8d969eef6ecad3c29a3a629280e686cf0c3f5d5a86aff3ca12020c923adc6c92', 1, 1)
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
ALTER TABLE [dbo].[HistoricoProducto] ADD  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[Movimientos] ADD  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[Productos] ADD  DEFAULT ((0)) FOR [Stock]
GO
ALTER TABLE [dbo].[Productos] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Productos] ADD  DEFAULT ((0)) FOR [PrecioBase]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT ((1)) FOR [IdRol]
GO
ALTER TABLE [dbo].[Categorias]  WITH CHECK ADD  CONSTRAINT [FK_Categorias_Empresas] FOREIGN KEY([IdEmpresa])
REFERENCES [dbo].[Empresas] ([Id])
GO
ALTER TABLE [dbo].[Categorias] CHECK CONSTRAINT [FK_Categorias_Empresas]
GO
ALTER TABLE [dbo].[DetalleMovimiento]  WITH CHECK ADD FOREIGN KEY([IdMovimiento])
REFERENCES [dbo].[Movimientos] ([Id])
GO
ALTER TABLE [dbo].[DetalleMovimiento]  WITH CHECK ADD FOREIGN KEY([IdProducto])
REFERENCES [dbo].[Productos] ([Id])
GO
ALTER TABLE [dbo].[HistoricoProducto]  WITH CHECK ADD  CONSTRAINT [FK_HistoricoProducto_Producto] FOREIGN KEY([IdProducto])
REFERENCES [dbo].[Productos] ([Id])
GO
ALTER TABLE [dbo].[HistoricoProducto] CHECK CONSTRAINT [FK_HistoricoProducto_Producto]
GO
ALTER TABLE [dbo].[HistoricoProducto]  WITH CHECK ADD  CONSTRAINT [FK_HistoricoProducto_Usuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[HistoricoProducto] CHECK CONSTRAINT [FK_HistoricoProducto_Usuario]
GO
ALTER TABLE [dbo].[Movimientos]  WITH CHECK ADD FOREIGN KEY([IdEmpresa])
REFERENCES [dbo].[Empresas] ([Id])
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD  CONSTRAINT [FK_Productos_Categorias] FOREIGN KEY([IdCategoria])
REFERENCES [dbo].[Categorias] ([Id])
GO
ALTER TABLE [dbo].[Productos] CHECK CONSTRAINT [FK_Productos_Categorias]
GO
ALTER TABLE [dbo].[UsuarioEmpresa]  WITH CHECK ADD  CONSTRAINT [FK_Empresa] FOREIGN KEY([IdEmpresa])
REFERENCES [dbo].[Empresas] ([Id])
GO
ALTER TABLE [dbo].[UsuarioEmpresa] CHECK CONSTRAINT [FK_Empresa]
GO
ALTER TABLE [dbo].[UsuarioEmpresa]  WITH CHECK ADD  CONSTRAINT [FK_Usuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[UsuarioEmpresa] CHECK CONSTRAINT [FK_Usuario]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD FOREIGN KEY([IdEmpresa])
REFERENCES [dbo].[Empresas] ([Id])
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_Usuarios_Roles] FOREIGN KEY([IdRol])
REFERENCES [dbo].[Roles] ([Id])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK_Usuarios_Roles]
GO
/****** Object:  StoredProcedure [dbo].[Reporte_MovimientosPorCategoria]    Script Date: 15/10/2025 19:53:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Reporte_MovimientosPorCategoria]
    @IdEmpresa INT,
    @IdCategoria INT,
    @FechaDesde DATE,
    @FechaHasta DATE
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        p.Nombre AS Producto,
        c.Nombre AS Categoria,
        p.Stock,
        SUM(
            CASE 
                WHEN m.Tipo = 'Compra' THEN (dm.Cantidad * dm.PrecioUnitario)
                WHEN m.Tipo = 'Venta' THEN -(dm.Cantidad * dm.PrecioUnitario)
                ELSE 0
            END
        ) AS MontoTotalMovimientos
    FROM Productos p
    INNER JOIN Categorias c ON c.Id = p.IdCategoria
    LEFT JOIN DetalleMovimiento dm ON dm.IdProducto = p.Id
    LEFT JOIN Movimientos m ON m.Id = dm.IdMovimiento
        AND m.IdEmpresa = @IdEmpresa
        AND m.Fecha BETWEEN @FechaDesde AND @FechaHasta
    WHERE 
        p.IdCategoria = @IdCategoria
        AND c.IdEmpresa = @IdEmpresa
    GROUP BY p.Nombre, c.Nombre, p.Stock
    ORDER BY p.Nombre;
END
GO
/****** Object:  StoredProcedure [dbo].[Reporte_MovimientosPorProducto]    Script Date: 15/10/2025 19:53:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Reporte_MovimientosPorProducto]
    @IdEmpresa INT,
    @IdCategoria INT,
    @IdProducto INT,
    @FechaDesde DATE,
    @FechaHasta DATE
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        m.Fecha,
        m.Tipo AS TipoMovimiento,
        c.Nombre AS Categoria,
        p.Nombre AS Producto,
        dm.Cantidad,
        dm.PrecioUnitario,
        (dm.Cantidad * dm.PrecioUnitario) AS Subtotal,
        CASE 
            WHEN m.Tipo = 'Compra' THEN (dm.Cantidad * dm.PrecioUnitario)
            WHEN m.Tipo = 'Venta' THEN -(dm.Cantidad * dm.PrecioUnitario)
            ELSE 0
        END AS MontoAfectado
    FROM Movimientos m
    INNER JOIN DetalleMovimiento dm ON dm.IdMovimiento = m.Id
    INNER JOIN Productos p ON p.Id = dm.IdProducto
    INNER JOIN Categorias c ON c.Id = p.IdCategoria
    WHERE 
        p.Id = @IdProducto
        AND p.IdCategoria = @IdCategoria
        AND c.IdEmpresa = @IdEmpresa
        AND m.IdEmpresa = @IdEmpresa
        AND m.Fecha BETWEEN @FechaDesde AND @FechaHasta
    ORDER BY m.Fecha;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ComprasVentasPorMes]    Script Date: 15/10/2025 19:53:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--exec sp_ComprasVentasPorMes 1

CREATE PROCEDURE [dbo].[sp_ComprasVentasPorMes]
    @idEmpresa INT
AS
BEGIN
    SET NOCOUNT ON;

    -- Tabla de meses
    WITH Meses AS (
        SELECT 1 AS Mes UNION ALL SELECT 2 UNION ALL SELECT 3 UNION ALL SELECT 4
        UNION ALL SELECT 5 UNION ALL SELECT 6 UNION ALL SELECT 7 UNION ALL SELECT 8
        UNION ALL SELECT 9 UNION ALL SELECT 10 UNION ALL SELECT 11 UNION ALL SELECT 12
    ),
    Datos AS (
        SELECT 
            MONTH(M.Fecha) AS Mes,
            M.Tipo,
            SUM(m.Total) AS Total
        FROM Movimientos M
        INNER JOIN DetalleMovimiento D ON M.Id = D.IdMovimiento
        WHERE 
            YEAR(M.Fecha) = YEAR(GETDATE()) -- Solo año actual
            AND M.idEmpresa = @idEmpresa
        GROUP BY MONTH(M.Fecha), M.Tipo
    ),
    DatosPivot AS (
        SELECT 
            Mes,
            SUM(CASE WHEN Tipo = 'COMPRA' THEN Total ELSE 0 END) AS Compras,
            SUM(CASE WHEN Tipo = 'VENTA' THEN Total ELSE 0 END) AS Ventas
        FROM Datos
        GROUP BY Mes
    )

    -- Unimos con los 12 meses
    SELECT 
        M.Mes,
        ISNULL(P.Compras, 0) AS Compras,
        ISNULL(P.Ventas, 0) AS Ventas
    FROM Meses M
    LEFT JOIN DatosPivot P ON M.Mes = P.Mes
    ORDER BY M.Mes;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DistribucionComprasVsVentas]    Script Date: 15/10/2025 19:53:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DistribucionComprasVsVentas]
    @IdEmpresa INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 'Compras' AS Tipo, ISNULL(SUM(m.Total), 0) AS Total
    FROM Movimientos m
    WHERE 
        m.IdEmpresa = @IdEmpresa
        AND m.Tipo = 'Compra'
        AND MONTH(m.Fecha) = MONTH(GETDATE())
        AND YEAR(m.Fecha) = YEAR(GETDATE())

    UNION ALL

    SELECT 'Ventas' AS Tipo, ISNULL(SUM(m.Total), 0) AS Total
    FROM Movimientos m
    WHERE 
        m.IdEmpresa = @IdEmpresa
        AND m.Tipo = 'Venta'
        AND MONTH(m.Fecha) = MONTH(GETDATE())
        AND YEAR(m.Fecha) = YEAR(GETDATE());
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetTopCategoriasMasVendidas]    Script Date: 15/10/2025 19:53:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetTopCategoriasMasVendidas]
    @IdEmpresa INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT TOP 10
        cat.Nombre AS Categoria,
        SUM(CASE WHEN mov.Tipo = 'VENTA' THEN det.Cantidad * prod.PrecioVenta ELSE 0 END) AS MontoTotal,
        SUM(CASE WHEN mov.Tipo = 'VENTA' THEN det.Cantidad ELSE 0 END) AS CantidadVendida,
        SUM(prod.Stock) AS StockDisponible
    FROM Movimientos mov
    INNER JOIN DetalleMovimiento det ON det.IdMovimiento = mov.Id
    INNER JOIN Productos prod ON prod.Id = det.IdProducto
    INNER JOIN Categorias cat ON cat.Id = prod.IdCategoria
    WHERE mov.IdEmpresa = @IdEmpresa AND cat.IdEmpresa = @IdEmpresa AND prod.Activo=1
    GROUP BY cat.Nombre
    ORDER BY CantidadVendida DESC;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_GetTopProductosMasVendidos]    Script Date: 15/10/2025 19:53:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[sp_GetTopProductosMasVendidos]
    @IdEmpresa INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT TOP 15
        p.Nombre AS NombreProducto,
        SUM(dm.Cantidad * p.PrecioVenta) AS MontoTotalVendido
    FROM Movimientos m
    INNER JOIN DetalleMovimiento dm ON m.Id = dm.IdMovimiento
    INNER JOIN Productos p ON dm.IdProducto = p.id
    WHERE 
        m.IdEmpresa = @IdEmpresa
        AND m.Tipo = 'Venta'
    GROUP BY 
        p.Nombre
    ORDER BY 
        MontoTotalVendido DESC;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_ReporteProductos]    Script Date: 15/10/2025 19:53:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ReporteProductos]
AS
BEGIN
    SELECT p.Id, p.Nombre, p.PrecioBase, p.PrecioVenta, p.Stock, e.Nombre AS EmpresaNombre
    FROM Productos p
    JOIN Empresas e ON p.Id = e.Id
	WHERE p.Activo=1
END
GO
/****** Object:  StoredProcedure [dbo].[sp_TotalCompras]    Script Date: 15/10/2025 19:53:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_TotalCompras]
    @IdEmpresa INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        ISNULL(SUM(m.Total), 0) AS TotalCompras
    FROM Movimientos m
    WHERE 
        m.IdEmpresa = @IdEmpresa
        AND m.Tipo = 'Compra'
        AND MONTH(m.Fecha) = MONTH(GETDATE())
        AND YEAR(m.Fecha) = YEAR(GETDATE());
END


--CREATE PROCEDURE [dbo].[sp_TotalVentas]
--    @IdEmpresa INT
--AS
--BEGIN
--    SET NOCOUNT ON;

--    SELECT 
--        ISNULL(SUM(m.Total), 0) AS TotalVentas
--    FROM Movimientos m
--    WHERE 
--        m.IdEmpresa = @IdEmpresa
--        AND m.Tipo = 'Venta'
--        AND MONTH(m.Fecha) = MONTH(GETDATE())
--        AND YEAR(m.Fecha) = YEAR(GETDATE());
--END


--CREATE PROCEDURE [dbo].[sp_DistribucionComprasVsVentas]
--    @IdEmpresa INT
--AS
--BEGIN
--    SET NOCOUNT ON;

--    SELECT 'Compras' AS Tipo, ISNULL(SUM(m.Total), 0) AS Total
--    FROM Movimientos m
--    WHERE 
--        m.IdEmpresa = @IdEmpresa
--        AND m.Tipo = 'Compra'
--        AND MONTH(m.Fecha) = MONTH(GETDATE())
--        AND YEAR(m.Fecha) = YEAR(GETDATE())

--    UNION ALL

--    SELECT 'Ventas' AS Tipo, ISNULL(SUM(m.Total), 0) AS Total
--    FROM Movimientos m
--    WHERE 
--        m.IdEmpresa = @IdEmpresa
--        AND m.Tipo = 'Venta'
--        AND MONTH(m.Fecha) = MONTH(GETDATE())
--        AND YEAR(m.Fecha) = YEAR(GETDATE());
--END
GO
/****** Object:  StoredProcedure [dbo].[sp_TotalVentas]    Script Date: 15/10/2025 19:53:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_TotalVentas]
    @IdEmpresa INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        ISNULL(SUM(m.Total), 0) AS TotalVentas
    FROM Movimientos m
    WHERE 
        m.IdEmpresa = @IdEmpresa
        AND m.Tipo = 'Venta'
        AND MONTH(m.Fecha) = MONTH(GETDATE())
        AND YEAR(m.Fecha) = YEAR(GETDATE());
END
GO
USE [master]
GO
